.mobile-app{
	background: #DEDFDF;

	&__h2{
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 600;
		font-size: 40px;
		line-height: 52px;
		color: #C86810;
	}

	&__p{
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 23px;
		line-height: 52px;
	}

	&__pix{
		width: 100%;
	}
}