.add-image{
	&__container{
		display: flex;
		cursor: pointer;
		flex-direction: column;
		align-items: flex-start;
		margin-top: 10px;
	}

	&__textarea{
		margin-top: -33px;
	}

	&__icon{
		width: 300px;
		height: 50px;
		display: flex;
		align-items: center;
	}

	&__picture{
		cursor: pointer;
	}

	&__text{
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 136px;
		color: #817A7A;
		margin-top: -45px;
		margin-bottom: -15px;	
	}
}