.home-page{
	text-align: center;

	&__container{
		display: flex;
		margin-top: 20px;
		margin-right: 10px;
	}
	
	&__customers{
		&__h2{
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 600;
			font-size: 60px;
			line-height: 56px;
		}

		&__span{
			color: #C86810;
		}

		&__p{
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: 40px;
		}

	}
}

.reliable-faster{
	margin: 0 auto;
	background: #C86810;
	border-radius: 9px;
	width: 1000px;
	color: #ffffff;
	padding: 20px;
	margin-right: -1px;
	margin-right: 50px;

	&__h2{
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 600;
		font-size: 40px;
		line-height: 40px;
	}

	&__span{
		color: #087B83;
	}
}