.forgot-password{

	&__background{
		background: rgba(8, 123, 131, 0.47);
		height: 100px;
		width: 100%;
		padding-top: 60px;
	}

	&__ash{
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translateX(-50%);
		background: #FAF8F8;
		box-shadow: 1px -8px 21px rgba(0, 0, 0, 0.25);
		border-radius: 8px;

		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		max-width: 700px;
		padding: 20px;
	}

	&__h1{
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 24px;
		color: #000000;
		margin-bottom: 60px;
	}

	&__img-paragraph{
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 400px;
	}

	&__img{
		height: 100px;
		margin-right: 60px;
	}

	&__paragraph-holder{
		text-align: left;
	}

	&__paragraph{
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
	}

	&__button-holder{
		display: flex;
		justify-content: space-between;
		width: 650px;
	}

	&__button{
		background: #C86810;
		border-radius: 8px;
		width: 125px;
		height: 45px;
		border: none;
		color: #ffffff;

		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		cursor: pointer;
	}


}