.signin-page{

	&__container{
		display: flex;
		justify-content: center;
		align-items: flex-start;
		
	}
	&__box{
	
	}
	&__picture{

	}

	&__data{
		text-align: center;
	}
	&__welcome{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #F9F4F4;
		width: 400px;
		height: 500px;
		border-radius: 8px;
		box-shadow: 1px -8px 21px rgba(0, 0, 0, 0.25);
	}

	&__heading{
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		line-height: 24px;
		margin-bottom: 50px;
	}

	&__inputs{
		display: flex;
		flex-direction: column;
	}

	&__inputs-margin{
		margin-bottom: 30px;
	}
	&__inputs-container{
		position: relative;
	}
	&__input{
		width: 300px;
		height: 40px;
		border-radius: 10px;
		border: 1px solid #087B83;
		background-color: #F9F4F4;
	}

	&__check-box__container{
		display: flex;
		margin-bottom: 30px;
	}
	&__inputcontainer{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 30px;
	}
	&__remember{
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 34px;
		color: #817A7A;
	}
	&__forgot{
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 13px;
		line-height: 34px;
		color: #087B83;
		text-decoration: none;
	}

	&__button1{
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 300;
		font-size: 24px;
		line-height: 24px;
		color: #FFFFFF;
		background: #C86810;
		border-radius: 8px;
		width: 300px;
		height: 40px;
		border: none;
		cursor: pointer;
		margin-bottom: 5px;
		margin-top: 5px;
	}

	&__btn2holder{
		display: flex;
		text-decoration: none;
	}

	&__button2{
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #097981;
		border: none;
		background-color: transparent;
		cursor: pointer;
	}

	&__text{
		font-weight: 400;
		font-size: 13px;
		line-height: 24px;
		font-family: 'Balsamiq Sans';
		font-style: normal;
		font-weight: 400;

		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-bottom: -5px;
	}
	&__paragraph{
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
	}

	&__hr-container{
		display: flex;
		margin-bottom: 20px;
	}
	&__hr{
		width: 142px;
		height: 0;
		color: #000000;
	}
	&__hr-span{
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		margin-right: 20px;
		margin-left: 20px;
	}
	&__label{
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: #087B83;
		position: absolute;
		left: 5%;
		top: -25%;
		background-color: #F9F4F4;
		width: 117px;
	}
	&__label-password{
		width: 100px;
	}
}

