.navigation{
	margin: 0 auto;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.logo-container{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		text-decoration: none;
		margin-left: 10px;

		&__logo{
			margin-right: 10px;
		}

		&__text{
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 600;
			font-size: 30px;
			line-height: 32px;
			color: #000000;
		}
	}
	.navigation-list{
		&__container{
			display: flex;
			list-style: none;
			color: #000000;
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
		}
		&__item{
			cursor: pointer;
		}
		&__item:not(:last-child){
			margin-right: 50px;
		}
	}
	.login-signup{
		&__container{
			display: flex;
		}
		&__login{
			border: none;
			background-color: transparent;
		}
		&__common{
		   padding: 14px 32px;
		   margin-right: 10px;
		   font-weight: 500;
		   font-size: 16px;
		   line-height: 24px;
		   cursor: pointer;
		   border: none;
		   width: 125px;
		   height: 52px;
		   color: #000000;
		}
		&__signup{
		   padding: 14px 32px;
		   margin-right: 10px;
		   background: linear-gradient(113.19deg, #087B83 9.8%, #C86810 106.17%);
		   border-radius: 4px;
		   cursor: pointer;
		   border: none;
		   background: linear-gradient(113.19deg, #087B83 9.8%, #C86810 106.17%);
		   border-radius: 4px;
		}
	}
}

.profile-picture__change-holder{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profile-picture__change{
	filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
	margin-right: 20px;
	cursor: pointer;
	width: 30px;
}


