.navigation{
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	background: linear-gradient(262.77deg, #120303 41.94%, #379386 134.54%);
	box-shadow: 0px 4px 4px #087B83;

	.logo-container{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		text-decoration: none;
		margin-left: 10px;

		&__logo{
			margin-right: 10px;
		}

		&__text{
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 600;
			font-size: 30px;
			line-height: 32px;
			color: #ffffff;
		}
	}

	.login-signup{
		&__container{
			display: flex;
		}
		&__login{
			border: none;
			background-color: transparent;
		}
		&__common{
		   padding: 14px 32px;
		   margin-right: 10px;
		   font-weight: 500;
		   font-size: 16px;
		   line-height: 24px;
		   cursor: pointer;
		   border: none;
		   width: 125px;
		   height: 52px;
		   color: #ffffff;
		}
		&__signup{
		   padding: 14px 32px;
		   margin-right: 10px;
		   border-radius: 4px;
		   cursor: pointer;
		   border: 1px solid #ffffff;  
		   background: transparent;
		}
	}
}

.profile-picture__change-holder{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profile-picture__change{
	filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
	margin-right: 20px;
	cursor: pointer;
	width: 30px;
}


