.signup-container{
	position: relative;

	&__background{
		background: rgba(8, 123, 131, 0.47);
		height: 100px;
		width: 100%;
		padding-top: 60px;
	}

	&__input-header{
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translateX(-50%);
		background: #FAF8F8;
		box-shadow: 1px -8px 21px rgba(0, 0, 0, 0.25);
		border-radius: 8px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		max-width: 590px;
	}

	&__header{
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 24px;
		color: #000000;
	}

	&__inputholder{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom: 20px;
		padding-top: 20px;
	}
	&__input-margin{
		margin-right: 20px;
		margin-bottom: 20px;
	}

	&__input{
		width: 250px;
		height: 40px;
		border: 1px solid #000000;
		border-radius: 8px;
	}

	&__button{
		width: 200px;
		height: 50px;
		margin-bottom: 20px;
		background: #C86810;
		border-radius: 8px;
		border: none;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #FFFFFF;
		cursor: pointer;
	}
}