.signup-container{
	background-image: url(../../assets/logo/signup-background.jpg);
	background-size: cover;
	max-width: 1022px;
	height: 634px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;

	&__text{
		margin-top: 50px;
		margin-bottom: 50px;
		color: #FFFFFF;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 600;
		font-size: 34px;
		line-height: 24px;
	}
	&__account{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	&__margin{
		width: 665px;
		height: 450px;
		background-color: white;
		box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
		background: #FFFFFF;
		text-align: center;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;	
	}

	&__input{
		width: 244px;
		height: 40px;
		border: 1px solid #B3B3B3;
		margin-bottom: 15px;
		border-radius: 4px;

		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		padding-left: 10px;
	}

	&__common{
		margin-right: 50px;
	}

	&__buttonholder{
		width: 85%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-top: 40px;
	}

	&__small{
		display: flex;
		align-items: center;
		margin-right: 45px;
	}

	&__circle{
		width: 12px;
		height: 12px;
		background-color: #097981;
		border-radius: 50%;
		margin-right: 20px;
	}

	&__circle-big, &__circle-big1, &__circle-big2{
		width: 21px;
		height: 21px;
	}

	&__circle-display{
		visibility: hidden;
	}

	&__button{
		width: 185px;
		height: 52px;
		background: linear-gradient(113.19deg, #087B83 9.8%, #C86810 106.17%);
		border-radius: 4px;
		outline: none;
		border: none;
		cursor: pointer;
		color: #FFFFFF;
	}
	&__span{
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 40px;
		margin-top: 40px;
	}

	&__display{
		display: none;
	}

	&__error{
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		margin-top: 5px;
		color: #8B0000;
	}
}

::placeholder{
	font-family: 'Balsamiq Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	padding-left: 10px;
	color: #666666;
}
