.footer-container{
	display: flex;
	justify-content: space-between;
	margin-top: 5%;
	margin-right: 15px;
	margin-left: 10px;
	background: linear-gradient(90.75deg, rgba(200, 104, 16, 0.12) 53.84%, rgba(9, 121, 129, 0.12) 60.13%);
	&__select{
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 24px;
		color: #097981;
		background: #000000;
		border: none;
		cursor: pointer;
	}
	&__option{
		

	}
}

.pharmacy-logosmall{
	display: flex;
	align-items: center;
	cursor: pointer;
	&__img{
		margin-right: 3.8px;
	}

	&__text{

	}

}

.pharmacy-date{
	cursor: pointer;
	&__span{
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 300;
		font-size: 12px;
		line-height: 20px;
		color: #097981;
	}
}